
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}
.navbar {
    display:flex;
   text-align: center;
    justify-content: center;
    align-items: center;
}

#backgroundimage {
background-image: url("bg3.jpg");
width: 100vw;
height: 100vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
} 
nav
{
overflow: auto;
}